@import url("https://fonts.googleapis.com/css?family=Chakra+Petch:light|Roboto+Mono");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Roboto Mono', sans-serif;
    text-align: center;
    overflow: hidden;
}

.container {
    background-color: #DFCFBE;
    height: 100vh;
    border: 3px solid white;
    border-radius: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.game-title { 
    margin: 2rem auto 4rem;
}
.game-title img {
    width: 5.5rem;
    height: 6rem;
}

.game-title h1 {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 2rem;
    letter-spacing: 0.5rem;
    word-spacing: 0.5rem;
}

.game-choose {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 1rem;
}

.game-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
    margin: 1rem auto;
}

.game-box img {
    cursor: pointer;
}

.game-box img:hover {
    transform: scale(1.2);
}

/* responsive for desktop/big screens*/
@media screen and (min-width: 820px) {
    .game-box img {
        width: 13rem;
        height: 13rem;
        margin: 0 2rem;
    }
}

/* responsive for tablet/ipad/medium screens*/
@media screen and (min-width: 625px) and (max-width: 820px) {
    .game-box img {
        width: 11rem;
        height: 11rem;
        margin: 0 1rem;
    }
}

/* responsive for mobile/small screens*/
@media screen and (max-width: 624px) {
    .game-box img {
        width: 8rem;
        height: 8rem;
        margin: 0;
    }
}

/* responsive for mobile/small screens width smaller width & height (e.g. iPhone SE)*/
@media screen and (max-width: 624px) and (max-height: 740px) {
    .game-title h1 {
        font-size: 1.5rem;
        letter-spacing: 0.2rem;
        word-spacing: 0.2rem;
    }
    .game-title{
        margin: 1rem auto 1.5rem;
    }
    .game-choose {
        font-size: 0.9rem;
    }
    .game-board p {
        font-size: 0.9rem;
    }
    .game-box img {
        width: 7rem;
        height: 7rem;
        margin: 0;
    }
}

/* responsive for special mobile screen (e.g. Galaxy Fold)*/
@media screen and (max-width: 350px) and (max-height: 655px) {
    .game-title h1 {
        font-size: 1.2rem;
        letter-spacing: 0.1rem;
        word-spacing: 0.1rem;
    }
    .game-title{
        margin: 1rem auto 1rem;
    }
    .game-choose {
        font-size: 0.8rem
    }
    .game-board p {
        font-size: 0.8rem;
    }
    .game-box img {
        width: 7rem;
        height: 7rem;
        margin: 0;
    }
}

.game-board {
    font-family: 'Roboto Mono', sans-serif;
}

.final-result {
    text-transform: uppercase;
    font-weight: 900;
    font-style: italic;
    font-size: 1.2rem;
    margin: 1rem auto;
}

.game-board img {
    width: 2rem;
    height: 2rem;
}

.reset {
    display: none;
}